@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700,800,900');

/*********************************
2. Body and some general stuff
*********************************/

body
{
	font-family: 'Montserrat', sans-serif;
}

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

/* Breadcumb Area CSS */
.breadcumb-area {
  position: absolute;
  z-index: 10;
  top: 110px;
  width: 100%;
  height: 200px; }
  .breadcumb-area .bradcumbContent {
    width: 500px;
    height: 105px;
    border-radius: 5px;
    background: #61ba6d;
    background: -webkit-linear-gradient(to right,#cbcc4e, #e6e6a0);
    background: linear-gradient(to right,#cbcc4e, #e6e6a0);
    position: absolute;
    bottom: -60px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    z-index: 30; }
    @media only screen and (max-width: 767px) {
      .breadcumb-area .bradcumbContent {
        width: 280px; } }
    .breadcumb-area .bradcumbContent h2 {
      text-align: center;
      line-height: 110px;
      font-size: 36px;
      color: #ffffff; }
      @media only screen and (max-width: 767px) {
        .breadcumb-area .bradcumbContent h2 {
          font-size: 24px; } }

/* Footer Area CSS */
.main-footer-area {
  background-color: #ebebae;
  padding-top: 400px;
}
  .main-footer-area .footer-widget .widget-title {
    margin-bottom: 20px; }
    .main-footer-area .footer-widget .widget-title h6 {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 0;
      color: #ffffff;
      margin-top: 10px;
      text-transform: uppercase; }
  .main-footer-area .footer-widget .footer-social-info a {
    display: inline-block;
    color: #606060;
    margin-right: 15px; }
    .main-footer-area .footer-widget .footer-social-info a:hover, .main-footer-area .footer-widget .footer-social-info a:focus {
      color: #ffffff; }
  .main-footer-area .footer-widget .useful-links li a {
    display: block;
    color: #606060;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 500; }
    .main-footer-area .footer-widget .useful-links li a:hover, .main-footer-area .footer-widget .useful-links li a:focus {
      color: #69bc5f; }
  .main-footer-area .footer-widget .gallery-list a {
    position: relative;
    z-index: 1;
    @flex (0 0 30%);
    max-width: 30%;
    margin-bottom: 15px;
    cursor: zoom-in; }
    .main-footer-area .footer-widget .gallery-list a::after {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      content: '';
      background-color: rgba(97, 186, 109, 0.8);
      opacity: 0;
      visibility: hidden;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms; }
    .main-footer-area .footer-widget .gallery-list a:hover::after {
      opacity: 1;
      visibility: visible; }
  .main-footer-area .footer-widget .single-contact i {
    color: #69bc5f;
    font-size: 20px;
    margin-right: 15px;
    padding-top: 7px; }
  .main-footer-area .footer-widget .single-contact p {
    margin-bottom: 0; }

.bottom-footer-area {
  background-color: #141414;
  padding: 30px 0;
  text-align: center; }
  .bottom-footer-area p {
    font-size: 12px;
    margin-bottom: 0; }
    .bottom-footer-area p a {
      color: #606060;
      font-size: 12px; }

