/* [Master Stylesheet v1.0] */
/* :: :: 1.0 Import Fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900");
/* :: 2.0 Import All CSS */

@import url(css/owl.carousel.min.css);

@import url(css/magnific-popup.css);

@import url(css/custom-icon.css);

/* Miscellaneous */
.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; 
}

/* Essence Button */
.academy-btn {
  display: inline-block;
  min-width: 160px;
  height: 65px;
  color: #ffffff;
  border: none;
  border-radius: 0;
  padding: 0 40px;
  font-size: 14px;
  line-height: 65px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  background: #61ba6d;
  background-image: -webkit-linear-gradient(to right,#cbcc4e, #e6e6a0);
  background-image: linear-gradient(to right,#cbcc4e, #e6e6a0);
  font-weight: 600; }
  .academy-btn.btn-sm {
    min-width: 110px;
    padding: 0 20px;
    height: 42px;
    line-height: 42px; }
  .academy-btn.active, .academy-btn:hover, .academy-btn:focus {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background: #61ba6d;
    background: -webkit-linear-gradient(to right,#cbcc4e, #e6e6a0);
    background: linear-gradient(to right,#cbcc4e, #bdbd75); }
  .academy-btn.btn-2 {
    background: #141414; }
    .academy-btn.btn-2:hover, .academy-btn.btn-2:focus {
      background: #69bc5f; }
  .academy-btn.btn-3 {
    background: #69bc5f; }
    .academy-btn.btn-3:hover, .academy-btn.btn-3:focus {
      background: #141414; }
  .academy-btn.btn-4 {
    background: #ffffff;
    border: 2px solid #69bc5f;
    color: #606060; }
    .academy-btn.btn-4:hover, .academy-btn.btn-4:focus {
      background: #69bc5f;
      color: #ffffff; }

.hero-slides {
  position: relative;
  z-index: 1; }
  .hero-slides .single-hero-slide {
    width: 100%;
    height: 850px;
    position: relative;
    z-index: 1; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .hero-slides .single-hero-slide {
        height: 650px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .hero-slides .single-hero-slide {
        height: 550px; } }
    @media only screen and (max-width: 767px) {
      .hero-slides .single-hero-slide {
        height: 600px; } }
    .hero-slides .single-hero-slide h4 {
      color: #ffffff;
      margin-bottom: 10px; }
      @media only screen and (max-width: 767px) {
        .hero-slides .single-hero-slide h4 {
          font-size: 18px;
         
        } }
    .hero-slides .single-hero-slide h2 {
      font-size: 60px;
      color: #ffffff;
      margin-bottom: 30px; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .hero-slides .single-hero-slide h2 {
          font-size: 48px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .hero-slides .single-hero-slide h2 {
          font-size: 36px; } }
      @media only screen and (max-width: 767px) {
        .hero-slides .single-hero-slide h2 {
          font-size: 30px; } }
  .hero-slides .owl-prev,
  .hero-slides .owl-next {
    background: #61ba6d;
    background: -webkit-linear-gradient(to right,#cbcc4e, #e6e6a0);
    background: linear-gradient(to right,#cbcc4e, #e6e6a0);
    width: 56px;
    height: 56px;
    line-height: 56px;
    color: #ffffff;
    top: -500px;
    margin-top: -28px;
    left: 5%;
    position: absolute;
    z-index: 10;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    opacity: 0;
    visibility: hidden;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms; }
    @media only screen and (max-width: 767px) {
      .hero-slides .owl-prev,
      .hero-slides .owl-next {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-top: -20px; } }
    .hero-slides .owl-prev:hover, .hero-slides .owl-prev:focus,
    .hero-slides .owl-next:hover,
    .hero-slides .owl-next:focus {
      background: #141414;
      color: #ffffff; }
  .hero-slides .owl-next {
    left: auto;
    right: 5%; }
  .hero-slides:hover .owl-prev, .hero-slides:hover .owl-next {
    opacity: 1;
    visibility: visible; }

